html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-left: 20%;
    padding-right: 20%;
}

figure {
    margin: 0;
}

.container {
    padding: 0 1rem;
}

.header {
    background-color: rgb(242, 250, 255);  /* 2. Please find out the color from Figma */
    padding: 0px;
}

.site-logo {
    text-align: center;
}

.desktop {
    display: none;
}

.footer {
    background-color: rgb(57, 135, 184);
    height: 140px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 24px;
}

.footer-content:first-child {
    width: 300px;
    padding-left: 85px;
}

.footer-content:last-child {
    width: 100px;
    padding-left: 190px;
}

.learning-objectives {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
}

.container tbody tr td{
    border-bottom: solid 1px rgb(149, 149, 149);

}

.learning-objectives .tile {
    padding: 10%;
    flex-direction: column;
}

.tile .text{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 550;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

.tile .text .img{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 50%;
}

.curriculum {
    border-spacing: 0;
    width: 100%;
}

.curriculum td{
    border-spacing: 0;
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.table tr{
    border-bottom: solid 1px #999999;
}

.table {
    max-width: 640px;
    position: 100%; top: 0; bottom: 0; left: 0; right: 0;
    border-collapse: collapse;

}

.curriculum thead td {
    border-top: solid 2px #999999;
    border-bottom: solid 1px #999999;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
}

.curriculum tbody tr:last-child td {
    border-bottom: solid 2px #999999;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 390;
    line-height: 24px;
    letter-spacing: 0em;
}

.curriculum tbody td {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 390;
    line-height: 24px;
    letter-spacing: 0em;
}

.container p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 390;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;    
}

@media screen and (max-width: 600px) {
    .container {
        padding: 0;
        margin: 0 auto;
        max-width: 64rem;
    }

    .site-logo {
        text-align: center;  /* 3. The logo aligns to the left on large screen */
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }
    
    .learning-objectives {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center; /* Center the content */
        width: 160px;
        height: 176px;
        top: 723px;
        left: 400px;
    
    }
    .tile {
        flex-basis: 1 0 100%;
        max-width: none; /* Remove the maximum width */
    }
}

.w-full {
    width: 100%;
}

.p-0 {
    padding: 0;
}

/* 
    4. Please create a utility CSS definition for margin-top: 32px;
    4.1 Instead of using pixel unit please use the "rem" unit.
    4.2 Use this CSS class to add vertical spacing above the <h1>.
 */

 .margin-top-32 {
    margin-top: 2rem;
}

 .font-serif {
    font-family: 'Roboto Serif', serif;;
 }


h1{
    font-family: Roboto Serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    
}

h2{
    font-family: Roboto Serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    
    }

.right-column {
    text-align: right;
}

.bottom-border{
    padding: 30px;
}